<div class="portfolio-show-wrapper">
    <div>
        <h1><%= @portfolio.name %></h1>
        <%= link_to "Add Project", new_portfolio_project_path(@portfolio) %>
    </div>
    <div>

    </div>
</div>
