.container {
    max-width: 600px;
    margin: auto;
}
  
.header {
  text-align: center;
}

/*  PORTFOLIO FORM */
.new-portfolio-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: fit-content;
}